@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css (or global.css) */
html, body, #root { height: 100%; background: #05070d; }
body { margin: 0; }
.safe-bottom { padding-bottom: env(safe-area-inset-bottom); }

*{
    ::-webkit-scrollbar{
        display: none;
    }
}